@charset "UTF-8";

header {
  @include padding($base-spacing);
  @include span-columns(20);
  position: absolute;
  z-index: 5;
  background: rgba($color-black, 0.75);
  @include media($tablet){
  	@include padding($base-spacing 0 $base-spacing $base-spacing);
  	@include margin(0);
  }
}