@charset "UTF-8";

.content,
.container {
  @include outer-container;
  position: relative;
}

.content {

  //remove this later
  min-height: 300px;
  //remove this later

  @include padding($base-spacing * 2 0);
  @include border-radius;
  background-color: $content-bg;

  @include media($tablet) {
    @include padding($base-spacing);
  }
}

section {
  @include margin($base-spacing 0);
  overflow: auto;

  @include media($mobile) {
    @include span-columns(5);
    @include margin(0);
  }
}

article {
  @include outer-container;
  @include span-columns(7);
  @include margin(0 null);
  @include padding(null $base-spacing null null);
  @include media($mobile) {
    @include span-columns(5);
    @include padding(0);
    border: none;
  }
}

aside {
  @include span-columns(3);
  @include padding(null null null $base-spacing);

  @include media($mobile) {
    @include span-columns(5);
    @include padding(0);
    border: none;
  }
}

iframe[name="google_conversion_frame"] { display: none; }