<header role="banner">
	<div class="container">
		{{> logo }}
		<div class="social">
			<ul>
				<li>

					<ul>
						<li>
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
							</span>
						</li>
						<li>
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
							</span>
						</li>
						<li>
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
							</span>
						</li>
						<li>
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-search fa-stack-1x fa-inverse"></i>
							</span>
						</li>
					</ul>

				</li>
				<li>
					<div class="hours">
						<a href="/hours" class="hours"><span>Today's Hours</span> 10a - 9p <i class="fa fa-angle-double-right"></i></a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</header>
