<div class="iFeatures">
  <img src="/images/mimages/bridgeport-icon.png" alt="Bridgeport Icon">
  <p><strong>Lorna Jane Active Living Room</strong> We introduce you to a special place where the daily practise of Move Nourish Believe... <a href="">Learn More »</a></p>
</div>
