<!-- Footer Component -->
<footer class="sticky-footer" role="contentinfo">
  <div class="container">

	<ul>
		<li><img src="/images/mimages/movies.png" alt=""><a href="">Movies</a></li>
		<li><img src="/images/mimages/business-development.png" alt=""><a href="">Business Development</a></li>
		<li><img src="/images/mimages/leasing.png" alt=""><a href="">Leasing</a></li>
		<li><img src="/images/mimages/stay-connected.png" alt=""><a href="">Stay Connected</a></li>
	</ul>

	<div class="login-register">
		<a href="">Login</a> or <a href="">Register</a>
	</div>

  </div>
</footer>
