<div class="home-blurb">
	<div class="container">
		<p>The Ward Village Foundation is dedicated to supporting forward thinking initiatives that honor Hawai‘i’s rich history by fostering the community that will continue to make Ward Village an ideal neighborhood to live, work, shop, learn and play.</p>
		<button>LEARN MORE</button>
	</div>
</div>
