<!-- Footer Component -->
<footer role="contentinfo">
  <div class="container">
    
    <div class="leaderboard">
    </div>

    <div class="foot-content">

      <div class="social">
        <ul>
          <li><i class="fa fa-facebook-square"></i></li>
          <li><i class="fa fa-twitter-square"></i></li>
          <li><i class="fa fa-pinterest-square"></i></li>
          <li><i class="fa fa-instagram"></i></li>
        </ul>
      </div>
    </div>

  </div>
</footer>
