{{!-- <a href="#" class="open-panel"><span></span></a> --}}

<a href="#" class="toggle-nav js-nav"><i class="fa fa-bars fa-2x"></i></a>

<div class="nav-wrap">
  <nav class="menu">
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">Portfolio</a></li>
      <li><a href="">Let's Talk</a></li>
    </ul>
  </nav>
</div>

{{!-- <nav role="navigation">
  <div class="container">
    <ul class="menu">
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="">Portfolio</a>
        <ul>
          <li>
            <a href="">Design</a>
          </li>
          <li>
            <a href="">Development</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="">Street Cred</a>
      </li>
      <li>
        <a href="">Let's Talk</a>
      </li>
    </ul>
  </div>
</nav> --}}