{{> head }}
<div class="outer-wrapper">
  <div class="inner-wrapper">
  	<div class="reveal-wrapper">

      {{> header }}
      {{!-- {{> nav }} --}}

{{!--       {{#if home}}
      {{> carousel}}
      {{/if}} --}}

      {{> content }}

      {{> body }}

      {{> end_content }}

			{{!-- {{> iFeatures }} --}}

      {{> sticky-footer }}

    </div>

    {{> footer }}
  </div>
</div>
{{> foot }}
