<table class="row ads">
	<tr>
		<td class="center">
			<table class="container">
				<tr>
					<td>



						<table class="center" align="center">
							<tr>
								<td class="center" align="center">

									<table>
										<tr>
											<td class="center" align="center">

												<img class="center" src="http://placehold.it/580x120&text=580x120">

											</td>
										</tr>
									</table>

								</td>
							</tr>
						</table>



					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
