<!-- banner message -->
<table class="container inner-container">
  <tr>
    <td>

			<h1>Big Banner Message</h1>
			<p>Banksy disrupt meh selvage heirloom food truck cold-pressed aesthetic Truffaut Godard narwhal. Freegan selvage Vice, deep v butcher twee ugh actually next level Bushwick. Kogi mustache synth sartorial, leggings Pinterest PBR Pitchfork tattooed sustainable. </p>
			<a href="#" target="_blank">MORE &raquo;</a>

		</td>
	</tr>
	<tr>
		<td>
			<hr>
		</td>
	</tr>
</table>