<table class="row ads">
	<tr>
		<td class="center">
			<table class="container inner-container">
				<tr>
					<td>


<table>
  <tr>
    <td>
			{{!-- <img class="left content-img" src="content-img1.jpg"> --}}
			<img class="left content-img" src="http://placehold.it/280x180">

			<h2>Secondary Banner Message</h2>
			<p>Ethical pickled artisan crucifix, Wes Anderson tofu kitsch occupy hella. Authentic Wes Anderson Vice scenester ethical sustainable cred bitters aesthetic.</p>
			<a href="#" target="_blank">MORE &raquo;</a>

		</td>
	</tr>
	<tr>
		<td>
			<hr>
		</td>
	</tr>
</table>

<table>
  <tr>
    <td>
			{{!-- <img class="left content-img" src="content-img2.jpg"> --}}
			<img class="left content-img" src="http://placehold.it/280x180">

			<h2>Secondary Banner Message</h2>
			<p>Crucifix tofu kitsch occupy hella. Authentic Wes Anderson Vice scenester ethical sustainable cred bitters aesthetic.</p>
			<a href="#" target="_blank">MORE &raquo;</a>

		</td>
	</tr>
	<tr>
		<td>
			<hr>
		</td>
	</tr>
</table>


					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>