							</td>
            </tr>
          </table>

<table class="nav">
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last">

              <table class="twelve columns">
                <tr>
                  <td class="center" align="center">
                  	<ul class="footnav">
                  		<li><a href="#" target="_blank">Directory</a></li>
                  		<li><a href="#" target="_blank">Dining</a></li>
                  		<li><a href="#" target="_blank">Sales</a></li>
                  		<li><a href="#" target="_blank">Events</a></li>
                  	</ul>
                  </td>
                </tr>
              </table>

            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>

<table class="footer">
  <tr>
    <td class="center" align="center">
      <center>

        <table class="twelve columns">
          <tr>
            <td>

              <table class="center" align="center">
                <tr>
                  <td>
                    <img class="social-icons" src="facebook.png">
                  </td>
                  <td>
                    <img class="social-icons" src="twitter.png">
                  </td>
                  <td>
                    <img class="social-icons" src="mobile-club.png">
                  </td>
                </tr>
              </table>
            
            </td>
          </tr>
        	<tr>
        		<td class="center" align="center">
        			<img class="center" align="center" src="victoria-gardens.jpg">
        		</td>
        	</tr>
          <tr>
            <td class="center" align="center">
              <p>12345 Address St, Suite 3000 | City Name, State 10201 | 555-888-1234</p>
            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>

          
 				</center>
			</td>
		</tr>
	</table>
</body>
</html>