<body>
	<table class="body">
		<tr>
			<td class="center" align="center" valign="top">
        <center class="white">

          <table class="header">
            <tr>
              <td class="center" align="center">
                <center>

                  <table class="container">
                    <tr>
                      <td class="wrapper last">

                        <table class="twelve columns">
                          <tr>
                            <td>
                              <img class="center" align="center" src="http://placehold.it/200x200">
                            </td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>

                </center>
              </td>
            </tr>
          </table>
          <table class="nav">
            <tr>
              <td class="center" align="center">
                <center>

                  <table class="container">
                    <tr>
                      <td class="wrapper last">

                        <table class="twelve columns">
                          <tr>
                            <td class="center" align="center">
                              <ul class="topnav">
                                <li><a href="#" target="_blank">Directory</a></li>
                                <li><a href="#" target="_blank">Dining</a></li>
                                <li><a href="#" target="_blank">Sales</a></li>
                                <li><a href="#" target="_blank">Events</a></li>
                              </ul>
                            </td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>

                </center>
              </td>
            </tr>
          </table>

          <table class="main-container">
            <tr>
              <td>