<!-- hero start -->
<table class="row">
  <tr>
    <td class="wrapper last">

      <table class="twelve columns">
        <tr>
          <td>

          	<table class="container inner-container">
			        <tr>
			          <td class="no-bot-pad">

									{{!-- <img src="main-img1.jpg"> --}}
									<img class="center" align="center" src="http://placehold.it/580x305">

								</td>
							</tr>
							<tr class="call-out">
								<td class="center" align="center">
									<table class="six columns">
										<tr>
											<td>
												<h2>Serious Sales</h2>
												<p>In Store</p>
											</tr>
										</td>
									</table>
								</td>
							</tr>
						</table>

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>