 	  <!-- Footer Component -->
 	  <footer role="contentinfo">
 	  	<div class="content">
 	  		<div class="container">

 	  			<div class="contact-social">

 	  				<div class="footer-social">
 	  					<ul>
 	  						<li>
 	  							<i class="fa fa-facebook"></i>
 	  						</li>
 	  						<li>
 	  							<i class="fa fa-twitter"></i>
 	  						</li>
 	  						<li>
 	  							<i class="fa fa-pinterest"></i>
 	  						</li>
 	  						<li>
 	  							<i class="fa fa-instagram"></i>
 	  						</li>
 	  					</ul>
 	  				</div>
 	  			</div>

 	  			<ul>
 	  				<li><a href="">Home</a></li>
 	  				<li><a href="">Employement</a></li>
 	  				<li><a href="">Leasing</a></li>
 	  				<li><a href="">Privacy Policy</a></li>
 	  				<li><a href="">Terms of Use</a></li>
 	  				<li><a href="">Contact</a></li>
 	  			</ul>

 	  			<ul>
 	  				<li>
 	  					{{ site.mall-address }}
 	  				</li>
 	  				<li>
 	  					<a href="">DIRECTIONS &raquo;</a>
 	  				</li>
 	  				<li>
 	  					<a href="">{{ site.mall-phone }}</a>
 	  				</li>
 	  			</ul>

 	  		</div>
 	  	</div>
 	  </footer>
 	  <!-- ./Footer Component -->
