{{> head }}
<div class="outer-wrapper">
  <div class="inner-wrapper">
  {{> header }}

  {{> banner }}

  <section class="icon-text">
  	<div class="container">
	  	<div class="icon-text-block">
	  		<i class="fa fa-cogs fa-3x"></i>
	  		<h3>My Work</h3>
	  		<p>As a designer and developer, my body of work includes front-end web development, website design, as well as print media.</p>
	  	</div>
	  	<div class="icon-text-block">
				<i class="fa fa-coffee fa-3x"></i>
				<h3>About Me</h3>
				<p>Learn a little more about who I am and why I do what I do.</p>
	  	</div>
	  	<div class="icon-text-block">
	  		<i class="fa fa-graduation-cap fa-3x"></i>
	  		<h3>Resume</h3>
	  		<p>Check out where I've been and who I've been working with.</p>
	  	</div>
	  	<div class="icon-text-block">
	  		<i class="fa fa-paper-plane fa-3x"></i>
	  		<h3>Drop A Line</h3>
	  		<p>Questions? Comments! Drop me a line and let's chat.</p>
	  	</div>
  	</div>
  </section>

  <section class="portfolio-preview">
  	<div class="container">
  		<div class="preview-column-1">
  			<a href="/">
			  	<div class="preview-thumb">
			  		<img src="/images/thumbs/preview-sugarbelle-design.jpg">
			  	</div>
		  	</a>
		  	<a href="/">
			  	<div class="preview-thumb">
			  		<img src="/images/thumbs/preview-sugarbelle-design.jpg">
			  	</div>
		  	</a>
		  	<a href="/">
			  	<div class="preview-thumb">
			  		<img src="/images/thumbs/preview-sugarbelle-design.jpg">
			  	</div>
		  	</a>
		  </div>
		  <div class="preview-column-2">
		  	<a href="/">
			  	<div class="preview-thumb">
			  		<img src="/images/thumbs/preview-sugarbelle-design.jpg">
			  	</div>
		  	</a>
		  	<a href="/">
			  	<div class="preview-thumb">
			  		<img src="/images/thumbs/preview-sugarbelle-design.jpg">
			  	</div>
		  	</a>
		  	<a href="/">
			  	<div class="preview-thumb">
			  		<img src="/images/thumbs/preview-sugarbelle-design.jpg">
			  	</div>
		  	</a>
			</div>
	  	<button>See all work</button>
  	</div>
	</section>

  {{> end_content }}

  {{> footer }}
  </div>
</div>
{{> foot }}