{{> head }}
<div class="outer-wrapper">
  <div class="inner-wrapper">
  {{> header }}

  {{> banner }}

  {{> content }}

  {{> body }}

  {{> end_content }}

  {{> footer }}
  </div>
</div>
{{> foot }}