#contact-area {
	max-width: 100%;
	width: 600px;
	margin-top: 25px;
}

#contact-area input, #contact-area textarea {
	max-width:100%;
	padding: 5px;
	width: 471px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	-webkit-font-smoothing: antialiased;
  @include appearance(none);
  background-color: $base-button-color;
  border-radius: $base-border-radius;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;


	width: 100px;
	float: right;
	margin-right: 45px;
	text-transform: uppercase;
	@include font-size(16);
	&:hover {
		cursor: pointer;
		background-color: shade($color-brand-primary, 10%);
	}
}

label {
	@include font-size(18);
	width: 85px;
	float: left;
	margin-top: 0.25em;
	// text-align: right;
	// margin-right: 15px;
	// width: 100px;
	// padding-top: 5px;
	// font-size: 1.4em;
}
@include media($tablet) {
	label {
		float: none;
		width: auto;
	}
	#contact-area input.submit-button {
		float: left;
		margin-right: 0;
		clear: both;
	}
}
@include media($mobile) {
	label {
		@include font-size(14);
	}
	#contact-area input.submit-button {
		width: 100%;
	}
}