#scroller_container {
	max-height: 400px;
	overflow: hidden;
	background-color: rgba($color-white,0.5);
	padding-left: 15%;
}
.tumblr {
	@include margin($base-spacing auto);
	h2 {
		@include margin($base-spacing 0);
	}
	@include media($tablet){
		@include span-columns(10);
		@include padding($base-spacing);
		clear: both;
	}
	@include media($mobile){
		@include span-columns(5);
		clear: both;
		h2 {
			@include margin(0 0 $base-spacing 0);
		}
	}
}
.tumblr-wrap {
	@include margin(0 5% 0 0);
	width: 47.5%;
	float: left;
	&:last-child {
		@include margin(0);
	}
	@include media($tablet){
		@include margin(0 1% 0 0);
		width: 49.5%;
	}
	@media screen and ( max-width: 600px ){
		@include margin($base-spacing 0);
		width: 100%;
		clear: both;
	}
	@include media($mobile){
		@include margin($base-spacing 0);
		width: 100%;
		clear: both;
	}
}