---
title: Home
heading:
home: true
---

<section>
	<article>
		<div class="headline">
			<h1>Code like you give a fuck.</h1>
			<h2>Because you will have to answer for your code in the afterlife.</h2>
		</div>
	</article>
</section>